* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 40px;
}

.container {
    width: 500px;
    max-width: 100%;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

/* Add Todo */

.todo-input {
    display: flex;
    gap: 10px;
}

.todo-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/* Filters */

.filters {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.filters button.active {
    background-color: black;
    color: white;
}


/* Todo List */

#todoList {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.todo-text {
    flex: 1;
    margin-left: 10px;
}

.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background-color: red;
    color: white;
}